# All testoutput from Python testcases
*.testoutput*
reports/*

# Temporary files of linters, cov-checks, etc.
.pytest_cache
.coverage
.mypy_cache
htmlcov/*

# Python compilings
*__pycache__*

# KiCad project related files
*fp-info-cache*
*.kicad_prl*
*-backups*

# Other stuff
*.log
.vscode/*

# Releases and build stuff
output/*
dist/*
build/*
src/kiutils.egg-info/*

# Documentation related stuff
*_build*
*_static*
*_templates*